<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mimiknight.panda.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mimiknight.panda.model.entity.ArticleEntity">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="article" property="article"/>
        <result column="audit" property="audit"/>
        <result column="deleted" property="deleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumns">
        id
        , title, article, audit, deleted, created_time, updated_time
    </sql>

    <insert id="save">
        INSERT INTO t_panda_article (id, title, article, created_time, updated_time)
            VALUE (#{id}, #{title}, #{article}, #{createdTime}, #{updatedTime});
    </insert>

    <select id="queryArticleById" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM t_panda_article
        WHERE id IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
